{% extends 'layout.html' %}
{% block content %}
    <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td width="50%" valign="top">
                            <h2>My Cute Office Pvt Ltd</h2>
                            F-31, Profit Centre,<br>
                            Mahavir Nagar, Kandivali (W),<br>
                            Mumbai - 400067<br>
                            Tel: +91-9819-64-1134<br>
                        </td>
                        <td width="50%" valign="top">
                            <h2>PAYMENT VOUCHER</h2>
                            <b>VOUCHER NO. 2016/JAN-PV-LT-MUM-3</b><br>
                            <b>DATE: 06 January 2016</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <b>User Details</b><br>
                Anupama Kapoor on behalf of Bean Stalk India<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Space Provider:</b><br>
                E wing 309 Third Floor, Crystal Plaza, <br>
                Opp. Infinity Mall, Andheri Link Road, <br>
                Andheri West, Mumbai – 400053<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Nature of Service: </b>Deskspace<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Start Date: 06th January 2016<br>
                End Date  : 05th February, 2016<br>
                Date of Payment: 6th January 2016</b><br>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellspacing="0">
                    <tr>
                        <th>Description</th>
                        <th>Amount Paid (in INR)</th>
                    </tr>
                    <tr>
                        <td>
                            Advance Rent
                        </td>
                        <td align="right">
                            7,500
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Refundable Deposit
                        </td>
                        <td align="right">
                            7,500
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Documentation & Service Charges
                        </td>
                        <td align="right">
                            500
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Amount Received
                        </td>
                        <td align="right">
                            15,500
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <b>Amount in Rupees:</b> Fifteen Thousand Five Hundred Only
            </td>
        </tr>
        <tr>
            <td>
                Received with thanks from Anupama Kapoor (Bean Stalk) the above mentioned amount.
            </td>
        </tr>
        <tr>
            <td>
                <b>For My Cute Office Pvt. Ltd.</b>
            </td>
        </tr>
    </table>
{% endblock content %}