{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Dear {{email_content.get('name', '')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    You booked and used the (conference room / cabin space) in space ID:&nbsp;<span style="font-weight: 600;"> {{email_content.get('space_id', '') }} </span>.
				</p>
                <p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                <b><u>Please select a rating based on the following.</u></b><br /><br />
                    5. The quality of space<br />
                    6. The facilities available as per the requirement<br />
                    7. The location of the space<br />
                    8. Check-in process in the space
                </p>
            </td>
        </tr>
  </table>
{% endblock content %}
