
{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name' , '')|title }},</p>
                    <p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    {{ message_content.get('admin_name' , '') }} has sent you a private message <br />
                    Message :&nbsp;&nbsp;"{{ message_content.get('message' , '') }}"<br />
                    </p>

            </td>
        </tr>
  </table>
{% endblock content %}
