
{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('Owner_name' , '')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    Contact Details of the enquirer for your space are as follows:<br />
                    Name of Enquirer :&nbsp;&nbsp; {{ message_content.get('seeker_name' , '') }}<br />
                    Contact of Enquirer :&nbsp;&nbsp; {{ message_content.get('seeker_contact' , '') }}<br />
                    Email of Enquirer:&nbsp;&nbsp; {{ message_content.get('seeker_mail' , '') }}<br />

                </p>
            </td>
        </tr>
  </table>
{% endblock content %}
