{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>

                <p style="font-weight: 600">Hi {{ message_content.get('name', '')|title }},</p>

				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    <b>{{ message_content.get('ss_name', '') }}</b>  has enquired for your office in ({{ message_content.get('location', '') }}).<br /><br />
                    <b>{{ message_content.get('ss_name', '') }}'s message:</b><br />
                    {{ message_content.get('ss_msg', '') }}
                </p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    <a style="text-decoration: none; letter-spacing: 1px;" href="{{ message_content.get('link_reply', '') }}" target="_blank">Click here</a> to respond to {{ message_content.get('ss_name', '') }}
                </p>

                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                  We have shared your contact details and address with <b>{{ message_content.get('ss_name', '') }}</b>. He should call you soon.
                </p>

                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                  You can reach us on +91-8286088707 or write to us on hello@mycuteoffice.com if you face any issues or need any clarifications.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
