{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Dear {{ admin['name'] }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    The approval of the Space ID:&nbsp;<span style="font-weight: 600;">  {{ admin['space_id'] }} </span> is Pending.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
