{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name', '')|title }},</p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				   You have generated enquiry for the Space in <b>({{ message_content.get('location', '') }})</b>
				</p>
                 <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    Our executive will shortly get in touch and share the details of the space with you.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
