{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
				   We regret to inform you that your enquiry (Enquiry ID:&nbsp;{{ message_content.get('enq_id', '') }} ) for the Space ID: &nbsp;{{ message_content.get('space_id', '') }}&nbsp;has been rejected.
                    However, below are the spaces that match your criteria.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
