{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <br>
                <p>Dear {{ message_content.get('name','')|title }},</p>
                <p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    The status for  your Requirement in {{ message_content.get('address','')}} ,({{ message_content.get('req_id','') }})<br />
                    is changed to {{ message_content.get('status','')}} due to following reason<br />
                   ' {{ message_content.get('admin_msg','')}}'
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
