{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    We have received your request to cancel the booking ID: &nbsp;<b> {{ message_content.get('book_id', '') }} </b><br />
                    The request has been received by the Space ID: &nbsp;<b> {{ message_content.get('space_id', '') }} </b><br />
                    You will receive a notification when the request is approved or disapproved.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
