{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Dear {{ email_content.get('name','')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    The Space ID:&nbsp;<span style="font-weight: 600;">  {{ email_content.get('space_id','') }} </span>&nbsp; has not reverted to the enquiry ID:&nbsp;<span style="font-weight: 600;">  {{ email_content.get('enq_id','') }} </span>&nbsp; for over 48 hours.<br />
                    Kindly follow up.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
