{% extends 'layout.html' %}
{% block content_block%}
<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
    <tr>

                        <!-- ============ LEFT COLUMN (MENU) ============== -->
        <td width="35%" valign="top" bgcolor="#C0C0C0">
            <p style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                            <b>PAYABLE TO </b><br>
                            Breanna Radermacher<br>
                            000 Street Name<br>
                            City, State, 00000<br>
                            </p>
            <p  style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                <b>CLIENT</b><br>
                Client Name<br>
                Project Title<br>
                them@theiremail.com<br>
            </p>
        </td>

                        <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
        <td width="65%" valign="top" bgcolor="#C4C3D0">
            <table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td>
                        <p style="box-sizing: border-box; font-size: 15px; line-height: 2;">
                            <b>OVERVIEW</b><br>
                            This is where the project overview goes.<br>
                            of what was delivered. Let them know that payment<br>
                            due before final files are released.<br>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th align="left">SERVICES</th>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>project cost</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>add ons ( xhrs @ $00 / hr )</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                        </table>
                    <td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th align="left">REIMBURSEMENTS</th>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>add on one</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>something else</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                        </table>
                    <td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th align="left">PAID</th>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>payment one</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>payment one</td>
                                <td align="right">$0,000.00</td>
                            </tr>
                        </table>
                    <td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock content_block%}
