{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Hi {{ email_content.get('name', '')|title }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    <b>{{ email_content.get('ss_name', '') }}</b> (Booking ID: {{ email_content.get('book_id', '') }}) has cancelled the booking in your space due on <b>{{ email_content.get('due_date', '') }}</b><br /><br />
                    <b>Booking Details</b>:<br />
                    <b>Capacity:</b> {{ email_content.get('capacity' , '') }}<br />
                    <b>Address:</b> {{ email_content.get('address' , '') }}<br />
                    <b>Date:</b> {{ email_content.get('from_date' , '') }} to {{ email_content.get('to_date' , '') }} <br />
                    <b>Timings:</b> {{ email_content.get('from_time' , '') }} to {{ email_content.get('to_time' , '') }}<br />
                    <b>Ameneties:</b> {{email_content.get('ameneties' , '') }}
                </p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    You can reach us on +91-8286088707 or write to us on hello@mycuteoffice.com if you face any issues or need any clarifications.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
