{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Dear {{ space_provider['name'] }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    There is a booking request for your space (Space ID: {{ space_provider['space_id'] }}) from a user.<br /><br />
                    <b><u>The details of the booking</u></b>:<br />
                    <b>User Name:</b> {{ details['name'] }}<br />
                    <b>User Industry:</b> {{ details['user_industry'] }}<br />
                    <b>Type Of Space Required:</b> {{ details['space_type'] }}<br />
                    <b>From:</b> {{ details['from_date'] }} <br />
                    <b>To:</b> {{ details['from_date'] }} <br />
                    <b>Timings of use:</b> {{ details['from_time'] }} to {{ details['to_time'] }}<br />
                    <b>Facility required:</b> {{ details['facility'] }}<br /><br />
                    Please ensure the space is available as per the details mentioned above.<br />
                    Please confirm the booking.<br />
                    <a href="{{ space_provider['link'] }}" target="_blank"><b>Click here</b></a> if you require to chat with the user.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
