{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p style="font-weight: 600">Dear {{ email_content.get('name', '') }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    Thank you for listing your space with us! Your space completion score for your Space ID: &nbsp;<b> {{ email_content.get('space_id', '') }}</b>&nbsp; is &nbsp;<b>{{ email_content.get('percent', '') }}%</b> (bar graph)
				</p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				   The spaces with 100% completion score get 10 times more visibility in our search results.
				</p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    Click on the link below to complete your space listing. <br />
                    <a href="{{ email_content.get('link', '') }}" target="_blank" style="display: inline-block; padding: 5px 25px; background-color: black; color: white; border: 1px solid gray; text-decoration: none;">(Link)</a><br />
                    Complete your listing and get your space appear in search results.  <br />

				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
